.table-row{
    cursor: pointer;
}
.table-row:hover{
    background-color: rgba(209, 210, 213, 0.5) !important;
}
.noneMe{
    background-color:red;
    display:none;
}
.table{
    margin-bottom:0;
}
.table td{
    border:0px;
    padding: 5px 20px !important;
    vertical-align: middle !important;
}
.b-tlr{
    border-top: 3px solid #dedede !important;
    border-left: 3px solid #dedede !important;
    border-right: 3px solid #dedede !important;
}
.b-tlr th{
    border-top: 3px solid #dedede !important;
    border-left: 3px solid #dedede !important;
    border-right: 3px solid #dedede !important;
}
.table th{
    /* background-color: var(--primary); */
    padding: 10px 20px !important;
    border:0px !important;
    vertical-align: middle !important;
}
.myHeader{
    /* position: fixed !important; */
    /* top: 0 !important; */
    /* Displayed on top of other rows when scrolling */
    /* z-index: 9999 !important; */
}
.borderTop{
    border-top: 1px solid #dedede !important;
}

.table-responsive{
    margin-bottom:70px !important;
}
.b3-lr{
    border-left: 3px solid #dedede !important;
    border-right: 3px solid #dedede !important;
}
.b-lr{
    
    width:300px !important;
    margin: 0 auto !important;
}

.b-r{
    border-right: 1px solid #dedede !important;
    border-left: 1px solid #dedede !important;
}
.b-b{
    border-bottom: 1px solid #dedede !important;
}
.alternate-bg{
    background-color: rgba(240, 241, 245, 0.44) !important;
}
.wd-100vw{
    width:100vw !important;
}
.wd-150px{
    width:180px !important;
    max-width:180px !important;
}

.cw-10{
    column-width: 10px !important;
}

.cw-30{
    column-width: 60px !important;
}

.bg-mydark{
    background-color: #1a1a1a !important;
}

.bg_LightGray{
    background-color: #3d3d3d !important;
}

.bg_LighterGray{
    background-color: #767474 !important;
}

.bg-myprimary{
    background-color: #2BC155 !important;
}

.bg-myblue{
    background-color: #181f39 !important;
}
.table-responsive{
    margin-bottom: 15px !important;
}

.selectedRow{
    background-color: rgba(209, 210, 213, 0.85) !important;
}


.modal-backdrop{
    width: 100% !important;
    height: 100% !important;
}

.nav-header{
    z-index: 10 !important;
}

.One_purple{
    background-color: #32064A !important;
}

.One_DarkGray{
    background-color: #292930 !important;
}

.One_Green{
    background-color: #3EB650 !important;
}

.One_DarkYellow{
    background-color: #FCC133 !important;
}

.One_Red{
    background-color: #0275a4 !important;
}

.One_DarkBlue{
    background-color: #2A3166 !important;
}
